@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.q2_wrapper{
  background-color:#eff3f4;
  width:940px;
  margin:0 auto;
}
.content{
  padding:20px;
  padding-top:0;
}
.content:first-child{
  padding-top:20px;
}
.content .img1{
  float:left;
  margin-right:20px;
  margin-bottom:10px;
}
.content .img2{
  float:right;
  margin-left:20px;
  margin-bottom:10px;
}
.content p{
  font-size:18px;
  line-height: 22px;
}
/* 回答はここに書いてね */
