@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.q7--float .q7__box {
  width: 225px;
  float:left;
  margin-left:50px;
  font-size:16px;
  box-sizing: border-box;
}
.q7--float .q7__box:first-child{
  margin-left:0;
}
.q7--table .q7__inner{
  display: table;
}
.q7--table .q7__box{
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
  width:225px;
}
.q7--table .q7__box:first-child {
  padding-left: 0;
}
.q7__box__text{
  font-size:16px;
}
.q7--inlineblock .q7__inner {
  font-size: 0; 
}
  /* inline-blockには要素そのものが「文字」の特徴を持っているため改行ができてしまうので、fontサイズ0で改行をなくす */

.q7--inlineblock .q7__box {
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
  width:225px;
}
.q7--inlineblock .q7__box:first-child {
  margin-left: 0;
}
.q7--flex .q7__inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.q7--flex .is-full{
  width:100%;
}
.q7--flex .q7__box {
  font-size: 16px;
  box-sizing: border-box;
  width:225px;
}
.q7__inner__content{
  font-size:0;
}
.q7--margin .q7__box {
  vertical-align: top;
  width:300px;
  display:inline-block;
}
.q7--margin .q7__box__flex{
  vertical-align: top;
  padding-left:50px;
  display: inline-block;
  width:100%;
  margin-left:-300px;
  padding-left:350px;
  box-sizing: border-box;
} 
.q7--margin .q7__box__text p {
  font-size: 16px;
}
