@charset "UTF-8";
.q4{
  box-sizing: border-box;
  padding:20px;
}
.container{
  display:table;
  width:100%; 
  margin-top:20px;
  background-color: #ECF1F2;
}
.container:first-child{
  margin-top:0;
}
.up-kotei1{
  background-color: #fdc8b8;
  display:table-cell;
  padding:20px;
  width:100px;
  text-align: center;
  
}
.up-kahen{
  display:table-cell;
  background-color: #e0abd9;
  padding:20px;
  text-align: center;
 
}
.up-kotei2{
  background-color: #b6d8ed;
  display:table-cell;
  padding:20px;
  width:100px;
  text-align: center;
  
}

.down-kahen2{
  background-color: #e5d32e;
  display:table-cell;
  padding:20px;
  text-align: center;
}
.down-kahen3{
  display:table-cell;
  background-color: #ec8f9a;
  padding:20px;
  text-align: center;
  
}
.down-kotei3{
  background-color: #8fdcad;
  display:table-cell;
  padding:20px;
  width:500px;
  text-align: center;
  
}