@charset "UTF-8";

.q5_container{
  width:500px;
  height:500px;
  background-color:#ECF1F2;
  position: relative;
  margin:0 auto;
}
/* boxに変更 */
.q5_container_box{
  width:100px;
  position: absolute; 
  font-size:30px;
  text-align: center;
  font-weight:bold;
  line-height:100px;
}
.one{
  top:40px;
  left:200px;
  background-color:#ffefd3;
  z-index:5;
}
.two{
  top: 120px;
  left:280px;
  background-color:#7084de;
  z-index:6;
}
.three{
  top: 200px;
  left:360px;
  background-color:#d0ecea;
  z-index:7;
}
.four{
  top: 280px;
  left:280px;
  background-color:#8b7a5e;
  z-index:8;
}
.five{
  top: 360px;
  left:200px;
  background-color:#9fd6d2;
  z-index:9;
}
.six{
  top: 280px;
  left:120px;
  background-color:#fffee4;
  z-index:10;
}
.seven{
  top: 200px;
  left:40px;
  background-color:#deae70;
  z-index:11;
}
.eight{
  top:120px;
  left:120px;
  background-color:#de70cf;
  z-index:12;
}
.eight:after{
  position: absolute;
  top:0;
  right:0;
  width:20px;
  height:20px;
  content:"";
  background-color: #ffefd3;
}
.nine{
  top: 10px;
  left:10px;
  background-color:#2b69a3;
  position: fixed;
}